@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1.4fr;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em 0 2em 2em;
  border: 1px solid #dddddd;
  font-size: 0.9em;
  height: 100%;
}

.navbar-profile {
  display: flex;
  gap: 0.5em;
}

.navbar-profile-image {
  width: 40px;
  height: 40px;
  background: rgb(79, 70, 187);
  background: linear-gradient(
    77deg,
    rgba(79, 70, 187, 1) 64%,
    rgba(253, 187, 100, 1) 64%
  );
  border-radius: 8px;
}

.navbar-profile-text {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.navbar-profile-text p {
  color: rgb(102, 100, 100);
  font-size: 0.8em;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: "Roboto", sans-serif;
}

.navigation p {
  cursor: pointer;
}

.inactive {
  color: rgb(102, 100, 100);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  margin-bottom: 2em;
}

.top p i {
  margin-left: 2em;
}

.navbar-posts > p {
  margin-top: 1em;
  color: rgb(102, 100, 100);
}

p i {
  margin-right: 1em;
}

main {
  background-color: #f5f4f4;
  border: 1px solid #dddddd;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

.members {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  font-size: 0.7em;
  color: rgb(102, 100, 100);
}

.member-image {
  width: 40px;
  height: 40px;
}

.member-image img {
  width: 100%;
  border-radius: 50%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-top: 1em;
}

.views-card,
.follows-card,
.likes-card {
  height: 60px;
  border-radius: 8px;
  padding: 1em;
  font-size: 0.8em;
}

.views-card {
  background: rgb(79, 70, 187);
  background: linear-gradient(
    77deg,
    rgba(79, 70, 187, 1) 70%,
    rgba(253, 187, 100, 1) 77%
  );
}

.follows-card {
  background: rgb(79, 70, 187);
  background: linear-gradient(
    77deg,
    rgba(79, 70, 187, 1) 70%,
    rgba(250, 137, 107, 1) 77%
  );
}

.likes-card {
  background: rgb(79, 70, 187);
  background: linear-gradient(
    77deg,
    rgba(79, 70, 187, 1) 70%,
    rgba(132, 233, 245, 1) 77%
  );
}

.grey {
  color: rgb(206, 206, 206);
}

.white {
  color: #ffffff;
}

.analytics {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 300px;
  gap: 1em;
}

.analytics-left {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  gap: 1em;
  height: 400px;
}
.line-chart {
  width: 100%;
}

.line-chart img {
  width: 100%;
}

.formation {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 130px;
  gap: 1em;
  font-size: 0.7em;
}

.strange-clouds {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  flex-wrap: wrap;
  background-color: #f2e8ff;
  border-radius: 8px;
  gap: 1em;
}

.formation-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.strange-clouds img {
  width: 80px;
  border-radius: 8px;
}

.formation-pause,
.white-card-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.formation-pause {
  background-color: #52459f;
}

.white-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5em 1em;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  gap: 4em;
}

.white-card-button {
  background-color: #83e8f4;
}

.last-thirty-days {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
  height: 82%;
  border-radius: 8px;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-items: flex-start;
}

.tile {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}

.like,
.views,
.follows,
.shares {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
}

.like {
  background-color: #f88669;
}

.views {
  background-color: #84e9f5;
}

.follows {
  background-color: #ffbc65;
}

.shares {
  background-color: #50439e;
}

.pie-chart {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  box-shadow: 1px 1px 5px 1px rgb(170, 169, 169);
}

.pie-chart p {
  font-size: 0.7em;
  color: rgb(102, 100, 100);
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  height: 100vh;
  overflow: hidden;
}

.profile-top {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.profile-top p {
  color: rgb(102, 100, 100);
  font-size: 0.9em;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.icon {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
}

.profile-picture {
  width: 70px;
  height: 70px;
}

.profile-picture img {
  width: 100%;
  border-radius: 8px;
}

.profile-name {
  text-align: center;
}

.profile-name p {
  font-size: 0.7em;
  color: rgb(102, 100, 100);
}

.profile-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  justify-items: center;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-stat p {
  font-size: 0.7em;
  color: rgb(102, 100, 100);
}

.profile-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

button {
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 32px;
  border: none;
  font-size: 0.7em;
}

.primary {
  background-color: #4f46bb;
  color: #ffffff;
}

.secondary {
  background-color: #ffffff;
  border: 1px solid #4f46bb;
}

.gallery {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 1em;
}

.gallery-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7em;
}

.gallery-buttons p {
  font-size: 0.7em;
}

.gallery-buttons i {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.videos,
.photos {
  border-radius: 12px;
  padding: 1em;
}

.videos {
  background-color: #f2e8ff;
  color: #53469e;
}

.photos {
  background-color: #fef3f1;
  color: #af6d5c;
}

.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery-images img {
  width: 100%;
}
